<!doctype html>
<html lang="en" ng-app="sampleApp" ng-controller="ctrl">
<head>
    <meta charset="utf-8">
    <title>angular-ui-scheduler | Demo</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- endbower -->
    <link rel="stylesheet" href="/dist/angular-ui-scheduler.css">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">angular-ui-scheduler</span>
        </div>
    </div>
</nav>

<div class="container">
    <div id="main-view">

        <div class="row">
            <div class="col-md-8">
                <h4>Demo</h4>
                <div class="well">
                    <angular-ui-scheduler ng-model="rule" rrule="{{rrule}}" hide-start="hideStart"></angular-ui-scheduler>
                </div>

                <hr>

                <h4>Getting RRule</h4>
                <pre>{{rule | json}}</pre>

                <h4>Setting RRule</h4>
                <p>Enter an RRule to display in the form above. For RRule syntax refer to examples at <a href="https://github.com/jkbr/rrule">https://github.com/jkbr/rrule</a>. Click Show Me to
                    see the form change.</p>
                <form class="form" role="form">
                    <div class="form-group">
                        <label>RRule</label>
                        <input type="text" ng-model="rrule" class="form-control" placeholder="RRule key=value pairs">
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <h4>Parameters</h4>
                <form>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="hideStart">hide start date</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- bower:js -->
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/lodash/lodash.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/rrule/lib/rrule.js"></script>
<script src="../bower_components/rrule/lib/nlp.js"></script>
<script src="../bower_components/moment/moment.js"></script>
<script src="../bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
<!-- endbower -->

<script src="/dist/angular-ui-scheduler.js"></script>
<script src="/dist/angular-ui-scheduler-tpl.js"></script>

<script src="/demo/js/sampleApp.js"></script>

</body>
</html>
